/*div {
    border-color: red;
    border-style:dotted
}*/
img {
    width:400px;
    height:300px;
}
.bkgrnd {
    background-color: gainsboro;
}
.pcards{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin-top: 20px;
    gap: 20px;
}
.hedr{
    display:flex;
    justify-content: center;
    background-color: white;
}
.hdd {
    justify-content: left;
    Width:400px;
}
h1 {
    background-color: white;
}
.phhdr {
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:40px;
    margin-left: 5px;
    margin-right: 5px;
}
.photopost {
    background-color: white;
    width:400px;
    height: 400px;
    align-self: center;
}
.phftr {
    background-color: white;
    font-size: small;
    margin-left: 5px;
    margin-right: 5px;
}

