div {
    border-color: red;
    border-style:dotted
}
.pcards{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    gap: 20px;
}
h1 {
    margin-left: 25%;
}
.phhdr {
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.photopost {
    width:400px;
    margin-left: 25%;
    Margin-right: 25%;
}
.phftr {
    background-color: white;
    font-size: small;
}
